<div class="container w-100 h-100 bg-danger">
    <nav class="navbar w-100 h-10 bg-success">

        <ul class="nav-task d-flex flex-row w-100">
            <li class=" col-xl-3 col-lg-3 col-md-3 col-sm-12 border"><a routerLink="Home" routerLinkActive>Home</a></li>
            <li class=" col-xl-3 col-lg-3 col-md-3 col-sm-12 border"><a routerLink="Technologies" routerLinkActive>Technologies</a></li>
            <li class=" col-xl-3 col-lg-3 col-md-3 col-sm-12 border"><a routerLink="SignIn" routerLinkActive>Sign In</a></li>
            <li class=" col-xl-3 col-lg-3 col-md-3 col-sm-12 border"><a routerLink="SignUp" routerLinkActive>Sign Up</a></li>
        </ul>
    </nav>
    <section>
        <router-outlet></router-outlet>
    </section>

</div>