<h1>Welcome</h1>
<img src="{{homeimg}}">
<p>
    Mani Sharma is an Indian composer and music director who works in Telugu and Tamil films. He has scored music for almost 200 films in Telugu, Tamil, Kannada and Hindi languages. He is known as the Melody Bramha in Telugu Film Industry and is well known
    for BGMs and re-recordings. His most successful compositions are Chiru Navvuto, Preminchukundam Raa, Samarasimha Reddy, Rajakumarudu, Annayya, Kushi, Narasimha Naidu, Murari, Indra, Okkadu, Gudumba Shankar, Balu, Stalin, Choodalani Vundi, Kushi, Indra,
    Raagam, Athadu, Pokiri, Chiruta, Kantri, Ek Niranjan, Bujjigadu, Parugu, Khaleja, Gentleman, LIE and iSmart Shankar. His father is the violinist Y.N. Sharma. [1] He has won the Filmfare Award for Best Music Director - Telugu three times, for the films
    Chiru Navvuto, Choodalani Vundi and Okkadu.
</p>